.cartIcon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;         
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;

  .shoppingIcon {
    width: 24px;
    height: 24px;
  }

  .itemCount {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    bottom: 12px;
  }
}
